<div data-section-id="{{ section.id }}" data-section-type="section-banner-v5" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
  <div class="section-banner-v5 mt-all">
    <div class="container container-v1">
      <div class="row">   
        <div class="col-lg-4 col-md-4 mb-3 mb-md-0 ">
          <div class="box-info">
            <div class="box-img5">
              {% if section.settings.img_banner1 != blank %}
              <a href="{{section.settings.url_button1}}"><img src="{{section.settings.img_banner1 | img_url:'master'}}" class="img-fluid"></a>
              {% else %}
                <a href="{{section.settings.url_button1}}"><img src="//placehold.it/550x700" class="w-100 img-fluid" alt=""></a>
              {% endif %}
            </div>
            <div class="content-banner">
              
              {% if section.settings.title_1 != blank %}
              <a href="{{section.settings.url_button1}}">
                <h3 class="title mb-0" style="color : {{section.settings.color_title1}}">{{section.settings.title_1}}</h3>
              </a>
              {% endif %}
              
              {% if section.settings.button_1 != blank %}
              <a href="{{section.settings.url_button1}}" class="button-shop button-shop1" style="color : {{section.settings.color_text_button_1}} ">{{section.settings.button_1}}</a>
              {% endif %}
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-4 mb-3 mb-md-0 ">
          <div class="box-info">
            <div class="box-img5">
              {% if section.settings.img_banner2 != blank %}
              <a href="{{section.settings.url_button2}}"><img src="{{section.settings.img_banner2 | img_url:'master'}}" class="img-fluid"></a>
              {% else %}
                <a href="{{section.settings.url_button2}}"><img src="//placehold.it/550x700" class="w-100 img-fluid" alt=""></a>
              {% endif %}
            </div>
            <div class="content-banner">
              {% if section.settings.title_2 != blank %}
              <a href="{{section.settings.url_button2}}">
                <h3 class="title mb-0" style="color : {{section.settings.color_title2}}">{{section.settings.title_2}}</h3>
              </a>
              {% endif %}
             
              {% if section.settings.button_2 != blank %}
              <a href="{{section.settings.url_button2}}" class="button-shop button-shop2" style="color : {{section.settings.color_text_button_2}}">{{section.settings.button_2}}</a>
              {% endif %}
            </div>
          </div>
        </div>
        
        <div class="col-lg-4 col-md-4 mb-3 mb-md-0 ">
          <div class="box-info">
            <div class="box-img5">
              {% if section.settings.img_banner3 != blank %}
              <a href="{{section.settings.url_button3}}"><img src="{{section.settings.img_banner3 | img_url:'master'}}" class="img-fluid"></a>
              {% else %}
                <a href="{{section.settings.url_button3}}"><img src="//placehold.it/550x700" class="w-100 img-fluid" alt=""></a>
              {% endif %}
            </div>
            <div class="content-banner">
              {% if section.settings.title_3 != blank %}
              <a href="{{section.settings.url_button3}}">
                <h3 class="title mb-0" style="color : {{section.settings.color_title3}}">{{section.settings.title_3}}</h3>
              </a>
              {% endif %}
              
              {% if section.settings.button_3 != blank %}
              <a href="{{section.settings.url_button3}}" class="button-shop button-shop3" style="color : {{section.settings.color_text_button_3}}">{{section.settings.button_3}}</a>
              {% endif %}
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Banner v5",
  "settings": [
  	{
      "type": "header",
      "content": "setting banner 1"
    },
	{
      "type": "image_picker",
      "id": "img_banner1",
      "label": "Image",
	  "info": "550 x 700px recommended"
    },
	{
      "type": "text",
      "id": "title_1",
      "label": "Title banner 1",
      "default": "Spring Collection"
    },
	{
      "type": "color",
      "id": "color_title_1",
      "label": "Color title 1"
    },
  	{
      "type": "text",
      "id": "button_1",
      "label": "button 1",
      "default": "ShOP NOW"
    },
	{
      "type": "url",
      "id": "url_button1",
      "label": "URL button 1",
      "default": "/collections/all"
    },
	{
      "type": "color",
      "id": "color_text_button_1",
      "label": "color text button 1"
    },
  	{
      "type": "header",
      "content": "setting banner 2"
    },
  {
      "type": "image_picker",
      "id": "img_banner2",
      "label": "Image",
    "info": "550 x 700px recommended"
    },
	{
      "type": "text",
      "id": "title_2",
      "label": "Title banner",
      "default": "Spring Collection"
    },
	{
      "type": "color",
      "id": "color_title_2",
      "label": "Color title"
    },
    {
      "type": "text",
      "id": "button_2",
      "label": "button 2",
      "default": "Shop now"
    },
	 {
      "type": "url",
      "id": "url_button2",
      "label": "URL button 2",
      "default": "/collections/all"
    },
  	  {
      "type": "color",
      "id": "color_text_button_2",
      "label": "color text button 2"
    },
	{
      "type": "header",
      "content": "setting banner 3"
    },
  {
      "type": "image_picker",
      "id": "img_banner3",
      "label": "Image",
    "info": "550 x 700px recommended"
    },
	{
      "type": "text",
      "id": "title_3",
      "label": "Title banner",
      "default": "Spring Collection"
    },
	{
      "type": "color",
      "id": "color_title_3",
      "label": "Color title"
    },
    {
      "type": "text",
      "id": "button_3",
      "label": "button 3",
      "default": "Shop now"
    },
	{
      "type": "url",
      "id": "url_button3",
      "label": "URL button 3",
      "default": "/collections/all"
    },
      {
      "type": "color",
      "id": "color_text_button_3",
      "label": "color text button 3"
    },
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    }
  ],
  "presets": [
    {
      "name": "Banner v5",
      "category": "HOME PAGE"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

  <style>
    .section-banner-v5 .box-info .content-banner .button-shop:hover{
      background-color: {{section.settings.color_hover}} !important;
    }
  </style>