<div data-section-id="{{ section.id }}" data-section-type="section-banner-v2" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %} {% if section.settings.sections_layout == "dark" %}background: {{section.settings.sections_bg_color}};{% endif %}">
  <div class="section-banner-v2 mt-all">
      <div class="box_banner_3">
        <div class="box_img">
          <div class="picture">
            <a href="{{section.settings.button_url}}">
              {% if section.settings.image-banner1 != blank %}
              <img src="{{section.settings.image-banner1|img_url:'master'}}" class="img-fluid" alt="banner">
              {% else %}
              <a href="{{section.settings.button_url}}"><img src="//placehold.it/960x960" class="img-fluid" alt=""></a>
              {% endif %}
            </a>
          </div>
        </div>
        <div class="box_img">
          <div class="picture">
            <a href="{{section.settings.button_url}}">
              {% if section.settings.image-banner2 != blank %}
              <img src="{{section.settings.image-banner2|img_url:'master'}}" class="img-fluid" alt="banner">
              {% else %}
              <a href="{{section.settings.button_url}}"><img src="//placehold.it/960x960" class="img-fluid" alt=""></a>
              {% endif %}
            </a>
          </div>
        </div>
        <div class="banner text-center">

          {% if section.settings.section_title_big != blank %}          
          <h3 class="title_heading">{{section.settings.section_title_big}}</h3>
          {% endif %}

          {% if section.settings.section_title != blank %}          
          <p class="mb-0">{{section.settings.section_title}}</p>
          {% endif %}
          <div class="link">
            {% if section.settings.button_1_name != blank %}
            <a href="{{ section.settings.button_url }}" class="button-banner">{{section.settings.button_1_name}}</a>
            {% endif %}
          </div>
        </div>
      </div>
  </div>
</div>

{% schema %}
{
  "name": "Banner v2",
  "class": "index-section",
  "settings": [
	{
      "type": "header",
      "content": "Image left"
    },
	{
      "type": "image_picker",
      "id": "image-banner1",
      "label": "Image Left",
	  "info": "960 x 960px recommended"
    },
    {
      "type": "header",
      "content": "Info center"
    },
	{
      "type": "text",
      "id": "section_title_big",
      "label": "Sub Title Banner",
      "default": "Collection Fashion"
    },
	{
      "type": "text",
      "id": "section_title",
      "label": "Sub Title Banner",
      "default": "JUST FOR YOU"
    },
	{
      "type": "text",
      "id": "button_1_name",
      "label": "Button name",
      "default": "MEN COLLECTION"
    },
	{
      "type": "url",
      "id": "button_url",
      "label": "URL Button",
      "default": "/collections/all"
    },
    {
      "type": "header",
      "content": "Image Right"
    },
	{
      "type": "image_picker",
      "id": "image-banner2",
      "label": "Image Right",
	  "info": "960 x 960px recommended"
    },
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    }
  ],
  "presets": [
    {
      "name": "Banner v2",
      "category": "HOME PAGE"
    }
  ]
}
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
